#root {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.weatherDateImg {
    height: 80%;
}

.component {
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: lightblue;
    }

    .row {
        margin-right: 25px !important;
        margin-left: -15px !important;
    }

    .display-1 {
        font-size: 5rem !important;
        font-weight: 300 !important;
        line-height: 1.2 !important;
    }

    .display-3 {
        font-size: 2.5rem !important;
        font-weight: 300 !important;
        line-height: 2.2 !important;
    }

    .h3, h3 {
        font-size: 1.24rem !important;
    }

    .col-sm {
        position: relative !important;
        width: 24% !important;
        min-height: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .col-sm-6 {
        width: 50% !important;
    }
}

